@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  src: local("Oswald"), url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: local("Open Sans"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: local("Open Sans"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  src: local("Open Sans"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
}
*, *::after, *::before {
  box-sizing: border-box;
}

h1, h2, h3, p, ul {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

html {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
}
